<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   DefaultValues.plist
   TDParseKit

   Created by Todd Ditchendorf on 1/10/09.
   Copyright 2009 Todd Ditchendorf. All rights reserved.
-->
<plist version="1.0">
    <dict>
	<key>WebKitDeveloperExtras</key>
	<true/>
    </dict>
</plist>
