<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>com.gentlebytes</string>
	<key>--ignore</key>
	<array>
		<string>ThirdParty</string>
		<string>Libraries</string>
		<string>Frameworks</string>
		<string>Testing</string>
	</array>
	<key>--logformat</key>
	<integer>1</integer>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>Gentle Bytes</string>
	<key>--project-name</key>
	<string>appledoc</string>
	<key>--repeat-first-par</key>
	<false/>
	<key>--templates</key>
	<string>./Templates</string>
	<key>--verbose</key>
	<string>3</string>
</dict>
</plist>
