<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>si.tkragelj.appledoc.docset</string>
	<key>CFBundleName</key>
	<string>appledoc</string>
	<key>DocSetFeedName</key>
	<string>Custom documentation</string>
</dict>
</plist>
