.xcode {
	header, aside {
		display: none;
	}

	.container {
		padding: 0;
	}

	article {
		margin-top: 0;

		#content {
			border: 0;
			margin: 0;
		}
	}

	.section-method {
		&.hide, &.hide.animating, &.animating {
			.method-info {
				height: auto !important;
				overflow: visible;
				display: block;
			}
		}

		&.hide .method-title {
			margin-left: -15px;
		}
	}
}
