<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DebugApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JSDemoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JSParseKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ParseKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ParseKitMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libParseKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25633D6C135F3BF40060C731</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D334940F0E2963FD00406085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D34185030E520D3F0081B0DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D389F1CD0F1965E600558235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D389F2020F196A7500558235</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3C7D8790A411FBF005DD154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3FDC5820FFC4BFC00F1F797</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
