lt, gt, fwdSlash, endTagStart, eq {
    color:rgb(178.5, 35.7, 135.15);
    background-color:rgb(20, 20, 26);
    font-family:'Monaco';
    font-size:11px;
}

eq {
    color:rgb(178.5, 35.7, 135.15);
    background-color:rgb(20, 20, 26);
    font-family:'Monaco';
    font-size:11px;
}

tagName {
    color:rgb(178.5, 35.7, 135.15);
    background-color:rgb(20, 20, 26);
    font-family:'Monaco';
    font-size:11px;
}

attrValue {
    color:rgb(84.15, 114.75, 122.4);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}

attrName {
    color:rgb(84.15, 114.75, 122.4);
    background-color:rgb(20, 20, 26);
    font-family:'Monaco';
    font-size:11px;
}

text {
//    color:rgb(61.2, 178.5, 68.85);
    color:rgb(255, 255, 255);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}

comment {
    color:rgb(61.2, 178.5, 68.85);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}

pi {
    color:rgb(22.95, 158.1, 188.7);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}

doctype {
    color:rgb(178.5, 35.7, 135.15);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}