/**

A CSS Stylesheet that matches the JSON grammar

note that each terminal production from json.grammar is listed in a CSS selector below.
text that matches any of these productions will display with the css properties listed here

*/

openCurly, closeCurly, openBracket, closeBracket, comma, colon {
    color:rgb(178.5, 35.7, 135.15);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}

null, true, false {
    color:rgb(196.35, 45.9, 51.0);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}

propertyName {
    color:rgb(84.15, 114.75, 122.4);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}

string {
    color:rgb(61.2, 178.5, 68.85);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}

number {
    color:rgb(22.95, 158.1, 188.7);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}

comment {
    color:rgb(72.95, 208.1, 238.7);
    background-color:rgb(0, 0, 0);
    font-family:'Monaco';
    font-size:11px;
}
